<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppShare.Properties.Settings.tin415de2171609ConnectionString"
            connectionString="Data Source=den1.mssql7.gear.host;Initial Catalog=tin415de2171609;Persist Security Info=True;User ID=tin415de2171609;Password=Ni8luMJ-T~vI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>